* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

nav {
    width: 100%;
}

.breadcrumb {
    list-style: none;
}

.breadcrumb-item {
    display: inline-block;
}

.breadcrumb-item::before {
    content: "/";
    margin: 0 5px;
}

.breadcrumb-item:first-child::before {
    content: "";
}

.breadcrumb-item a {
    text-decoration: none;
    color: #41b3e0;
}

.breadcrumb-item:last-child a {
    color: #868e91;
}

.breadcrumb-item:last-child:hover a {
    cursor: default;
}

.heading {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.btn {
    padding: 10px 20px;
}

.gallery,
.sub-gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

.gallery-item {
    width: 24%;
    position: relative;
    margin: 0 calc((1200px - 96%) / 8) 10px;
    overflow: hidden;
    transition: ease-in 0.3s;
}

.gallery-item1 {
    width: 32%;
    position: relative;
    margin: 0 calc((1200px - 96%) / 6) 10px;
    overflow: hidden;
    transition: ease-in 0.3s;
}

.gallery-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    cursor: pointer;
}

.gallery-img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    transition: linear 0.4s;
}

.overlay {
    position: absolute;
    width: 100%;
    padding: 15px 20px;
    background-color: rgb(0, 0, 0, 0.4);
    color: #fff;
    bottom: 0;
}

.gallery-item1 .overlay {
    display: none;
}

.gallery-item1:hover .overlay {
    display: block;
}

.gallery-item1:hover .gallery-img {
    transform: scale(1.1);
    opacity: 0.6;
    cursor: pointer;
}

.overlay-img {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .8);
    display: none;
}

.popup {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.popup .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: #a19d9d;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(0, 0, 0, .6);
    cursor: pointer;
    transition: ease .4s;
}

.popup .close:hover {
    color: #fff;
}

.popup img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.popup .img-title {
    padding: 10px;
    width: 20%;
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0, .5);
    text-align: center;
    color: #fff;
}